.Block1{
    display: flex;
    padding: 20px;
    margin-left: 50px;
    text-align: ;

}
.Block2{
    display: flex;
    padding:20px ;
    margin-left: 50px;

}
.Block3{
    display: flex;
    padding: 20px;
    margin-left: 50px;

}